// Colours partial

// Text colours
$txt-primary: rgba(28, 54, 83, 0.6);
// body font
$txt-secondary: #3d4351;
// heading font
$txt-light: #000000;
// header/hero
$txt-accent: #414141;
$form-placeholder: #2d2d2d;
// form placeholder text
// Global colours
$accent-color: #e8ca6f;
// global accent colour
$accent-color-hover: #d3b56a;
// global accent colour hover
$white-color: #fff;
$black-color: #000;
// Typography colours
$h2-color: #3d4351;
$h3-color: #3d4351;
$h5-color: #3d4351;
// Layout colours
$section-light: #fff;
$section-dark: #f8f9fd;
$to-top-bg: #495061;
$footer-primary: #dbdbdb;
$footer-secondary: #a0a6b2;
// Keylines
$keyline-color: #e6e9ea;
$footer-keyline-color: #4e566c;
